In [1]:
import pandas as pd
import numpy as np

# positive data

In [2]:
positive_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/ICD10_grouped_positive.csv'
)

In [3]:
positive_condition_data.head()

   PERSON_ID CONCEPT_CODE group
0          1          R12     R
1          1        J02.9     J
2          1        J02.9     J
3          1        R07.9     R
4          1        J32.0     J

In [4]:
positive_condition_data = positive_condition_data.drop(['CONCEPT_CODE'], axis=1)

In [5]:
# empty data frame
positive_df_big = pd.DataFrame()
# set up each person's conditions
for person_id in pd.unique(positive_condition_data.PERSON_ID):
    person_df = positive_condition_data[positive_condition_data['PERSON_ID'] == person_id]
    conditions = pd.unique(person_df.group)
    conditions = list([str(i) for i in conditions])
    cols_needed = len(conditions)
    list_of_ones = listofzeros = [1] * cols_needed
    df_temp = pd.DataFrame(data=[list_of_ones], columns=conditions)
    df_temp['person_id'] = person_id
    df_temp['target'] = 1
    positive_df_big = positive_df_big.append(df_temp, ignore_index=True)
positive_df_big = positive_df_big.fillna(value=0)

In [6]:
positive_df_big.head()

,R,J,L,E,B,Z,N,D,K,F,...,Q,T,A,Y,O,P,C,V,W,X
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
positive_df_big.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/positive_letter_group_categorical.csv'
                      , index=False)

# Negative

In [8]:
negative_condition_data = pd.read_csv(
    '/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/ICD10_grouped_negative.csv'
)

In [9]:
negative_condition_data.head()

   PERSON_ID CONCEPT_CODE group
0     100000       R13.10     R
1     100000        R07.9     R
2     100000        R07.9     R
3     100000        R07.9     R
4     100000        R07.9     R

In [10]:
negative_condition_data = negative_condition_data.drop(['CONCEPT_CODE'], axis=1)

In [11]:
# empty data frame
negative_df_big = pd.DataFrame()
# set up each person's conditions
for person_id in pd.unique(negative_condition_data.PERSON_ID):
    person_df = negative_condition_data[negative_condition_data['PERSON_ID'] == person_id]
    conditions = pd.unique(person_df.group)
    conditions = list([str(i) for i in conditions])
    cols_needed = len(conditions)
    list_of_ones = listofzeros = [1] * cols_needed
    df_temp = pd.DataFrame(data=[list_of_ones], columns=conditions)
    df_temp['person_id'] = person_id
    df_temp['target'] = 0
    negative_df_big = negative_df_big.append(df_temp, ignore_index=True)
negative_df_big = negative_df_big.fillna(value=0)

In [12]:
negative_df_big.head()

,R,K,I,N,C,E,J,M,D,L,...,G,H,B,Q,O,Y,X,P,V,W
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
negative_df_big.to_csv('/data/project/ubrite/covid19-hackathon/Team4_staging_area/parsed_data/negative_letter_group_categorical.csv'
                      , index=False)